[Unit]
Description=USB Mouse support for Powertop
After=powertop.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/powertop-usb-mouse

[Install]
WantedBy=multi-user.target
