[Desktop Entry]
Type=Application
Version=1.0
Name=Restore Alsa
Comment=Restore Alsa on Startup
TryExec=restore-alsa
Exec=restore-alsa
Terminal=false
Categories=Network;System;
StartupNotify=false

