Source: juno-tablet
Section: base
Priority: optional
Build-Depends: debhelper
Maintainer: Giovanni Caligaris <junocomputers@outlook.com>

Package: juno-tablet
Section: base
Priority: optional
Architecture: all
Depends: hwinfo,
	 libinput-tools,
	 usbutils,
	 plocate,
	 dconf-editor,
	 lsb-release,
	 qtwayland5,
	 fonts-open-sans,
	 ffmpeg,
	 gstreamer1.0-gl,
	 mesa-va-drivers,
	 mesa-vulkan-drivers,
	 power-profiles-daemon,
	 git,
	 curl,
	 powersupply,
	 network-manager-config-connectivity-debian,
	 linux-cpupower,
	 intel-media-va-driver-non-free,
	 firmware-linux,
	 thermald,
	 powertop,
	 firmware-iwlwifi,
	 firmware-sof-signed,
	 pulseaudio-module-gsettings,
	 bolt,
	 acpid,
	 lshw,
	 alsa-ucm-conf,
	 lm-sensors,
	 alsa-topology-conf,
	 file-roller,
	 firefox-esr-mobile-config,
	 firmware-realtek,
	 juno-info,
	 v4l-utils,
	 gnome-screenshot,
	 wget,
	 tracker,
	 gnome-software-plugin-flatpak,
	 irqbalance,
	 webapp-manager,
	 nano,
	 openssh-server,
	 intel-microcode,
	 acpi
Conflicts: es8336-dkms
Homepage: https://junocomputers.com
Description: Drivers for Juno Tablet
