## To learn more about touchscreen calibration
## https://developer.toradex.com/linux-bsp/how-to/multimedia/touch-screen-calibration-linux/

ACTION=="add", KERNEL=="event[0-9]*", ATTRS{name}=="GDIX1002:00", ENV{LIBINPUT_CALIBRATION_MATRIX}="-1 0 1 0 -1 1"



#######################################
## Calibration

## For static configuration via udev, one can set the LIBINPUT_CALIBRATION_MATRIX udev property as a environment variable with the following udev rule:

## ENV{LIBINPUT_CALIBRATION_MATRIX}="1 0 0 0 1 0"

## You can use the following command line examples to create a file with the udev rule.

## Default matrix:

## echo 'ENV{LIBINPUT_CALIBRATION_MATRIX}="1 0 0 0 1 0"' > /etc/udev/rules.d/libinput.rules

## INVERT Y AXIS ONLY:

## echo 'ENV{LIBINPUT_CALIBRATION_MATRIX}="1 0 0 0 -1 1"' > /etc/udev/rules.d/libinput.rules

## INVERT X AXIS ONLY:

## echo 'ENV{LIBINPUT_CALIBRATION_MATRIX}="-1 0 1 0 1 0"' > /etc/udev/rules.d/libinput.rules

## INVERT X & Y AXIS:

## echo 'ENV{LIBINPUT_CALIBRATION_MATRIX}="-1 0 1 0 -1 1"' > /etc/udev/rules.d/libinput.rules

#############################################

